/* ==============
  Account Pages
===================*/

// directory page

.directory-card{
  overflow: hidden;
  .directory-content{
    background: $bg-gradient;
    .info-icon{
      position: absolute;
      right: -32px;
      background: $white;
      border-radius: 12px 0px 0px 12px;
      transition: all 0.4s;
      &:hover{
        right: 0px;
      }
    }
  }
  .social-links{
    position: relative;
    bottom: 22px;
    margin: 0px 20px;
    background: $white;
    border-radius: 4px;
    box-shadow: $shadow;
  }
}


// pages

.accountbg {
  background: $bg-gradient;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
}

.wrapper-page {
  margin: 5.5% auto;
  max-width: 460px;
  position: relative;

  .logo-admin {
    line-height: 70px;
  }

  .card {
      box-shadow: 1px 4px 45px 0 rgba(0, 0, 0, 0.1);
  }
}

.home-btn{
  position: absolute;
  top: 15px;
  right: 25px;
}

.user-thumb {
  position: relative;
  z-index: 999;
  img {
    height: 88px;
    margin: 0 auto;
    width: 88px;
  }
}

.ex-page-content {
  h1 {
    font-size: 98px;
    font-weight: 700;
    line-height: 150px;
    text-shadow: rgba(61, 61, 61, 0.3) 1px 1px, rgba(61, 61, 61, 0.2) 2px 2px, rgba(61, 61, 61, 0.3) 3px 3px;
    .error-icon{
      text-shadow: rgba(109, 90, 227, 0.3) 1px 1px, rgba(109, 90, 227, 0.2) 2px 2px, rgba(109, 90, 227, 0.3) 3px 3px;
    }
  }
}

