/* ==============
  General
===================*/

body {
  background: $bg-body;
  margin: 0;
  font-size: $base-font;
  font-family: $font-primary;
}
html {
  overflow-x: hidden;
  position: relative;
  min-height: 100%;
  background: $bg-body;
}
h1, h2, h3, h4, h5, h6 {
  margin: 10px 0;
  font-weight: 600;
}

h1 {
  line-height: 43px;
}

h2 {
  line-height: 35px;
}

h3 {
  line-height: 30px;
  small {
    color: $lightdark4;
  }
}

h4 {
  line-height: 22px;
  small {
    color: $lightdark4;
  }
}

h5 {
  small {
    color: $lightdark4;
  }
}

* {
  outline: none !important;
}

a {
  &:hover {
    outline: 0;
    text-decoration: none;
  }
  &:active {
    outline: 0;
    text-decoration: none;
  }
  &:focus {
    outline: 0;
    text-decoration: none;
  }
}

code {
  color: $info;
}

.container-alt {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.footer {
  background-color: $white;
  bottom: 0;
  color: $dark;
  text-align: center;
  padding: 20px 30px;
  position: absolute;
  right: 0;
  left: 240px;
  i.text-danger{
    color: $primary !important;
  }
}

#wrapper {
  height: $height;
  overflow: hidden;
  width: $width;
}

.page {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}

// blockquote

.blockquote {
  padding: 10px 20px;
  margin-bottom: 20px;
  border-left: 4px solid $light5;
}

.blockquote-reverse {
  border-left: 0;
  border-right: 4px solid $light5;
  text-align: right;
}

/* Social */
.social-links {
  li {
    a {
      -webkit-border-radius: 50%;
      background: $light;
      border-radius: 50%;
      color: lighten($lightdark7,5%);
      display: inline-block;
      height: 30px;
      line-height: 30px;
      text-align: center;
      width: 30px;
    }
  }
}